<?xml version="1.0"?>

<configuration>
	<appSettings>

		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Z:\projects\hl7\hl7db.mdb;" />

		<add key="UseFactory" value="false" />
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>